extends base.jade

block title
    if request.path.startswith('/tag/') and posts.tags
        title= posts.tags.join('+') + ' - ' + site.title
    elif request.path.startswith('/category/') and posts.category
        title= posts.category.title + ' - ' + site.title
    elif request.args.s
        title= request.args.s + ' - ' + site.title
    elif site.configs.sub_title
        title= site.title + ' - ' + site.configs.sub_title

block content
    .post_list_site
        if request.path.strip('/')=='category'
            +response.redirect('/categories')
        if request.path.strip('/')=='tag'
            +response.redirect('/categories')


        if request.path.startswith('/tag/') and posts.tags
            .labeltitle= '「%s」下的文章' %posts.tags.join("+")
        elif request.path.startswith('/category/') and posts.category
            .labeltitle= '「%s」下的文章' %posts.category.title
        for post in posts
            .post_list_item
                a.post_title(href=post.url, target="_blank")= post.title
                .content_list= post.content.limit(100).no_pic.plain
                .post_info
                    time(datetime= post.date.format('%Y-%m-%d'))= post.date.format('%Y/%m/%d')
                    if post.category
                        a.cat(href=post.category.url)= post.category.title
                    if post.tags
                        for tag in post.tags
                            a.tag(href='/tag/{{tag}}')= tag
    if not request.path.startswith('/archive/')
        +h.paginator(style="mini", max_count=10)

